//Esquema de Colores

//Primer esquema de color 
$white: #FFFFFF;

//Segundo esquema de color
$eerie-black: #121619;
$raisin-black: #222323;
$piel: #deb887;


//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Peso de fuentes
$light-300: 300;
$regular: 400;
$semibold: 600;
$black900: 900;