@media screen and (min-width: 769px) {
    .fondo-1 {
        display: flex;
        gap: 20px;
        justify-content: center;
        background-color: #e8e8e8;
        padding: 20px 10px 10px 10px;
    }

    .titulo-centro {
        text-align: center;
    }

    .oscuro {
        background-color: $eerie-black;
        color: $white;
    }
}