@media screen and (min-width: 769px) {

    nav {
        text-align: left;
        padding: 1.25em 4rem;
        width: 100vw;
    }
    
    nav ul {
        list-style: none;
    }
    
    nav ul li {
        display: inline-block;
        margin: 0 1em;
        vertical-align: middle;
    }
}

@media screen and (max-width: 768px) {
    nav {
        text-align: left;
        padding: 1.25em 1rem;
        width: 100vw;
    }
}